<b>Exemplos de uso:</b><br/>
{URL}/busca=R3JpbW0gczAxZTAx/pagina=1 [<i>A busca está usando encode base64, buscando na pagina 1</i>]<br/>
{URL}/busca=Grimm s01e01/pagina=1 [<i>Buscando sem encode e na pagina 1</i>]<br/>
{URL}/busca=Grimm/pagina=2 [<i>Buscando sem encode e na pagina 2</i>]<br/>
{URL}/autodetect=Once.Upon.a.Time.S03E15.720p.HDTV.X264-DIMENSION.mkv<br/>
{URL}/guess=Once.Upon.a.Time.S03E15.720p.HDTV.X264-DIMENSION.mkv
<br/><br/>
<b>Explicação:</b><br/>
<b>busca=</b> - Aqui entra o termo que irá ser buscado no legendas.tv, é recomendado que seja usado encode base64 neste campo.<br/>
<b>pagina=</b> - Pagina que será exibida, começa em 1.<br/>
<b>autodetect=</b> - Procura automaticamente a melhor legenda de acordo com o grupo que lançou, resolução, formato e codecs (apenas legendas.tv)<br/>
<b>guess=</b> - Extrai as informações do filme/serie baseado pelo nome e exibe via JSON (guessit.io)<br/>
